:root {
    font-size: 10px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin   : 0;
    font-size: 1.6rem;
}

.container {
    width : 1000px;
    margin: 0 auto;
}

.qq {
    @import "./Items/qq.scss";
}