.container {
    width: 1000px;
    margin: 0 auto;
}

.phone {
    width: min(414px, 100vw);
    height: min(736px, 100vh);
    user-select: none;
}

.phone-dark {
    background-color: hsl(0, 0, 20%);
    color: white;
    caret-color: white;
}

.row-flex {
    display: flex;
}

.col-flex {
    display: flex;
    flex-direction: column;
}

.split {
    flex: 1;
}